.clearfix::after, .clearfix::before {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

.hidden {
  display: none !important; }
  
.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.input-transparent {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  opacity: 0; }

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none; }

b,
strong {
  font-weight: bolder; }

button {
  -webkit-appearance: button;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

button,
select {
  text-transform: none; }

details {
  display: block; }

hr {
  overflow: visible; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

*,
::before,
::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

svg {
  fill: currentColor; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

* {
  background-repeat: no-repeat; }

:root {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 75%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

:focus,
:hover {
  outline: none; }

::-webkit-scrollbar {
  display: none; }

:root {
  font-size: 10px !important;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem; }

a {
  color: inherit;
  outline: none; }

body, html {
  height: 100%; }

button, [type='button'] {
  min-height: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0; }

#app .header {
  background-color: #5A5077;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  text-transform: uppercase; }
  #app .header_title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    #app .header_title.__suffix {
      font-weight: 700; }
  #app .header_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none; }
    #app .header_menu_item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
         -moz-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin-left: 1.5rem; }
      #app .header_menu_item_content.active {
        font-weight: 700; }

#app .form {
  background-color: #f2f2f2;
  min-height: 100%;
  padding: 3rem 1.5rem 1.5rem; }
  #app .form_content {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2275%22%20height%3D%2232%22%3E%3Cg%20fill%3D%22%23C9C9D6%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M25.8029203%204.87148406c-5.2859728%200-9.3355606-1.52003707-12.759923-4.87148406C9.618991%203.351447%205.56958122%204.87148406.2840536%204.87148406c0%208.72784784-1.79430712%2021.23043054%2012.7588547%2026.30800314%2014.5542301-5.077483%2012.760012-17.5800657%2012.760012-26.30800314zM11.9859986%2020.2300949l-4.2508743-4.279114%201.90327424-1.9155478%202.34760006%202.363387%204.4620426-4.4911163%201.9031852%201.9155478-6.3652278%206.4068433zM35.183913%2026.7353507h-1.52c-.0066667.4400022.0733325.8199984.24%201.14.1666675.3200016.3916653.5833323.675.79.2833348.2066677.6099982.3583329.98.455.3700019.0966672.7516647.145%201.145.145.4866691%200%20.9149982-.0566661%201.285-.17.3700019-.1133339.6799988-.2716656.93-.475.2500013-.2033343.4383327-.4449986.565-.725.1266673-.2800014.19-.5833317.19-.91%200-.400002-.0849991-.728332-.255-.985-.1700008-.2566679-.3716655-.4616659-.605-.615-.2333345-.1533341-.4683321-.2649996-.705-.335-.2366678-.0700003-.421666-.1183332-.555-.145-.4466689-.1133339-.8083319-.2066663-1.085-.28-.276668-.0733337-.4933325-.1466663-.65-.22-.1566674-.0733337-.2616664-.1533329-.315-.24-.0533336-.0866671-.08-.1999993-.08-.34%200-.1533341.033333-.2799995.1-.38.066667-.1000005.1516662-.183333.255-.25.1033339-.066667.2183327-.1133332.345-.14.1266673-.0266668.2533327-.04.38-.04.1933343%200%20.3716659.0166665.535.05.1633342.0333335.3083327.0899996.435.17.1266673.0800004.228333.1899993.305.33.0766671.1400007.1216666.3166656.135.53h1.52c0-.4133354-.0783325-.7649985-.235-1.055-.1566674-.2900014-.368332-.5283324-.635-.715-.266668-.1866676-.5716649-.3216662-.915-.405-.343335-.0833337-.7016648-.125-1.075-.125-.3200016%200-.6399984.0433329-.96.13s-.6066654.2199991-.86.4c-.2533346.1800009-.4583325.4049987-.615.675-.1566674.2700014-.235.5883315-.235.955%200%20.3266683.0616661.6049989.185.835.123334.2300012.284999.4216659.485.575.200001.1533341.4266654.2783329.68.375.2533346.0966672.513332.178333.78.245.2600013.0733337.5166654.1399997.77.2.2533346.0600003.479999.1299996.68.21.200001.0800004.3616661.1799994.485.3.123334.1200006.185.2766657.185.47%200%20.1800009-.0466662.3283328-.14.445-.0933338.1166673-.2099993.208333-.35.275-.1400007.066667-.2899992.1116666-.45.135-.1600008.0233335-.3099993.035-.45.035-.2066677%200-.4066657-.0249997-.6-.075-.1933343-.0500002-.3616659-.1266661-.505-.23-.143334-.1033338-.2583329-.2383325-.345-.405-.0866671-.1666675-.13-.3699988-.13-.61zm5.42-4.77v7.14h5.42v-1.32h-3.85v-1.75h3.46v-1.22h-3.46v-1.53h3.77v-1.32h-5.34zm11.24%202.4h1.52c-.0466669-.4133354-.1599991-.7799984-.34-1.1-.1800009-.3200016-.4083319-.5883322-.685-.805-.276668-.2166677-.5899982-.3816661-.94-.495-.3500017-.1133339-.7216647-.17-1.115-.17-.5466694%200-1.0383311.0966657-1.475.29-.4366688.1933343-.8049985.4599983-1.105.8-.3000015.3400017-.5299992.7383311-.69%201.195-.1600008.456669-.24.951664-.24%201.485%200%20.5200026.0799992%201.0049978.24%201.455.1600008.4500023.3899985.841665.69%201.175.3000015.333335.6683312.5949991%201.105.785.4366689.190001.9283306.285%201.475.285.4400022%200%20.8433315-.066666%201.21-.2.3666685-.133334.6866653-.3266654.96-.58.2733347-.2533346.4933325-.5599982.66-.92.1666675-.3600018.2699998-.7633311.31-1.21h-1.52c-.0600003.4800024-.2249986.8666652-.495%201.16-.2700013.2933348-.6449976.44-1.125.44-.3533351%200-.6533321-.0683326-.9-.205-.2466679-.1366673-.4466659-.3183322-.6-.545-.1533341-.2266678-.2649996-.4816652-.335-.765-.0700003-.2833347-.105-.5749985-.105-.875%200-.3133349.0349997-.6166652.105-.91.0700004-.2933348.1816659-.5549988.335-.785.1533341-.2300011.3533321-.4133326.6-.55.2466679-.1366673.5466649-.205.9-.205.1933343%200%20.3783325.0316664.555.095.1766676.0633337.3349993.1516661.475.265.1400007.1133339.2566662.2449993.35.395.0933338.1500008.1533332.3149991.18.495zm8.71%202.04v-4.44h-1.57v4.44c0%20.533336-.1066656.9249988-.32%201.175-.2133344.2500013-.5999972.375-1.16.375-.3200016%200-.574999-.0449995-.765-.135-.1900009-.0900004-.3383328-.2066659-.445-.35-.1066672-.143334-.1766665-.3083324-.21-.495-.0333335-.1866676-.05-.3766657-.05-.57v-4.44h-1.57v4.44c0%20.9733382.2649974%201.693331.795%202.16.5300027.466669%201.2783285.7%202.245.7.9533381%200%201.6999973-.2349976%202.24-.705.5400027-.4700023.81-1.1883285.81-2.155zm2.92-1.21v-2.01h1.72c.3600018%200%20.6299991.0783326.81.235.1800009.1566675.27.4083316.27.755%200%20.3600018-.0899991.6199992-.27.78-.1800009.1600008-.4499982.24-.81.24h-1.72zm-1.57-3.23v7.14h1.57v-2.79h1.57c.3933353%200%20.6766658.0866658.85.26s.2866664.4466648.34.82c.0400002.2866681.0699999.5866651.09.9.0200001.3133349.0733329.5833322.16.81h1.57c-.0733337-.1000005-.1283331-.2216659-.165-.365-.0366668-.143334-.0633332-.2949992-.08-.455-.0166667-.1600008-.0283333-.3166659-.035-.47-.0066667-.1533341-.0133333-.2866661-.02-.4-.0133334-.1800009-.0383331-.3599991-.075-.54-.0366668-.1800009-.0949996-.3449992-.175-.495-.0800004-.1500007-.1833327-.2799994-.31-.39-.1266673-.1100005-.2866657-.1916664-.48-.245v-.02c.400002-.1600008.6883325-.3933318.865-.7.1766676-.3066682.265-.6699979.265-1.09%200-.2733347-.0483328-.5283321-.145-.765-.0966671-.2366678-.2366657-.4449991-.42-.625-.1833342-.1800009-.403332-.3216661-.66-.425-.2566679-.1033338-.5449984-.155-.865-.155h-3.85zm7.22%200v7.14h5.42v-1.32h-3.85v-1.75h3.46v-1.22h-3.46v-1.53h3.77v-1.32h-5.34zM37.119913%2012.1027102h-3.192c-.014.9240046.1539983%201.7219966.504%202.394.3500018.6720033.8224971%201.2249978%201.4175%201.659.595003.4340021%201.2809962.752499%202.058.9555.7770039.203001%201.5784959.3045%202.4045.3045%201.0220052%200%201.9214962-.1189988%202.6985-.357.7770039-.2380012%201.4279974-.5704979%201.953-.9975.5250027-.4270022.9204987-.9344971%201.1865-1.5225.2660014-.588003.399-1.2249966.399-1.911%200-.8400042-.1784982-1.5294973-.5355-2.0685-.3570017-.5390027-.7804975-.96949842-1.2705-1.29150003-.4900024-.3220016-.9834975-.55649927-1.4805-.7035-.4970024-.14700074-.8854986-.24849972-1.1655-.3045-.9380046-.2380012-1.6974971-.43399923-2.2785-.588-.5810029-.15400077-1.0359983-.30799923-1.365-.462-.3290016-.15400077-.5494994-.3219991-.6615-.504-.1120005-.1820009-.168-.41999853-.168-.714%200-.3220016.0699993-.58799895.21-.798.1400007-.21000105.318499-.3849993.5355-.525.2170011-.1400007.4584987-.23799972.7245-.294.2660014-.05600028.5319987-.084.798-.084.4060021%200%20.7804983.03499965%201.1235.105.3430018.07000035.6474987.18899916.9135.357.2660014.16800084.4794992.39899853.6405.693.1610008.29400147.2554999.66499776.2835%201.113h3.192c0-.86800434-.1644983-1.60649696-.4935-2.2155-.3290016-.60900305-.7734972-1.10949804-1.3335-1.5015-.5600028-.39200196-1.2004964-.67549913-1.9215-.8505-.7210036-.17500088-1.473496-.2625-2.2575-.2625-.6720033%200-1.3439966.0909991-2.016.273-.6720033.1820009-1.2739973.4619981-1.806.84-.5320026.3780019-.9624983.85049716-1.2915%201.4175-.3290016.56700283-.4935%201.23549615-.4935%202.0055%200%20.68600343.1294987%201.27049758.3885%201.7535.2590013.4830024.5984979.8854984%201.0185%201.2075.4200021.3220016.8959974.58449898%201.428.78750003.5320027.203001%201.0779972.3744993%201.638.5145.5460028.1540007%201.0849974.2939993%201.617.42.5320027.1260006%201.0079979.2729991%201.428.441.4200021.1680008.7594987.3779987%201.0185.63.2590013.2520012.3885.5809979.3885.987%200%20.3780019-.097999.6894987-.294.9345-.1960009.2450012-.4409985.4374993-.735.5775-.2940014.1400007-.6089983.2344997-.945.2835-.3360016.0490002-.6509985.0735-.945.0735-.4340021%200-.8539979-.0524995-1.26-.1575-.406002-.1050006-.7594985-.2659989-1.0605-.483-.3010015-.2170011-.542499-.5004983-.7245-.8505-.1820009-.3500018-.273-.7769975-.273-1.281zm14.4290001%200h-3.192c-.0140001.9240046.1539982%201.7219966.504%202.394.3500017.6720033.822497%201.2249978%201.4175%201.659.5950029.4340021%201.2809961.752499%202.058.9555.7770038.203001%201.5784958.3045%202.4045.3045%201.0220051%200%201.9214961-.1189988%202.6985-.357.7770038-.2380012%201.4279973-.5704979%201.953-.9975.5250026-.4270022.9204986-.9344971%201.1865-1.5225.2660013-.588003.399-1.2249966.399-1.911%200-.8400042-.1784983-1.5294973-.5355-2.0685-.3570018-.5390027-.7804976-.96949842-1.2705-1.29150003-.4900025-.3220016-.9834976-.55649927-1.4805-.7035-.4970025-.14700074-.8854986-.24849972-1.1655-.3045-.9380047-.2380012-1.6974971-.43399923-2.2785-.588-.5810029-.15400077-1.0359984-.30799923-1.365-.462-.3290017-.15400077-.5494995-.3219991-.6615-.504-.1120006-.1820009-.168-.41999853-.168-.714%200-.3220016.0699993-.58799895.21-.798.1400007-.21000105.3184989-.3849993.5355-.525.217001-.1400007.4584986-.23799972.7245-.294.2660013-.05600028.5319986-.084.798-.084.406002%200%20.7804982.03499965%201.1235.105.3430017.07000035.6474986.18899916.9135.357.2660013.16800084.4794992.39899853.6405.693.1610008.29400147.2554998.66499776.2835%201.113h3.192c0-.86800434-.1644984-1.60649696-.4935-2.2155-.3290017-.60900305-.7734972-1.10949804-1.3335-1.5015-.5600028-.39200196-1.2004964-.67549913-1.9215-.8505-.7210036-.17500088-1.4734961-.2625-2.2575-.2625-.6720034%200-1.3439967.0909991-2.016.273-.6720034.1820009-1.2739974.4619981-1.806.84-.5320027.3780019-.9624984.85049716-1.2915%201.4175-.3290017.56700283-.4935%201.23549615-.4935%202.0055%200%20.68600343.1294987%201.27049758.3885%201.7535.2590013.4830024.5984979.8854984%201.0185%201.2075.4200021.3220016.8959973.58449898%201.428.78750003.5320026.203001%201.0779972.3744993%201.638.5145.5460027.1540007%201.0849973.2939993%201.617.42.5320026.1260006%201.0079979.2729991%201.428.441.4200021.1680008.7594987.3779987%201.0185.63.2590013.2520012.3885.5809979.3885.987%200%20.3780019-.0979991.6894987-.294.9345-.196001.2450012-.4409986.4374993-.735.5775-.2940015.1400007-.6089984.2344997-.945.2835-.3360017.0490002-.6509986.0735-.945.0735-.4340022%200-.853998-.0524995-1.26-.1575-.4060021-.1050006-.7594985-.2659989-1.0605-.483-.3010015-.2170011-.5424991-.5004983-.7245-.8505-.182001-.3500018-.273-.7769975-.273-1.281zm12.182-10.01700003V17.0797102h10.605v-2.772h-7.308V2.08571017h-3.297z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-position: right 1.5rem top 1.5rem;
    -webkit-background-size: auto 2.4rem;
       -moz-background-size: auto 2.4rem;
         -o-background-size: auto 2.4rem;
            background-size: auto 2.4rem;
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    max-width: 60rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto; }
  #app .form_title {
    color: #5A5077;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  #app .form_description {
    padding: 1.5rem; }
  #app .form_fields {
    margin-bottom: 3rem; }
  #app .form_field {
    margin-bottom: 1.5rem; }
    #app .form_field_error {
      color: #E74C3C; }
    #app .form_field_input {
      border: 1px solid #e6e6e6;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      color: #5A5077;
      display: block;
      padding: .9rem 1.5rem;
      -webkit-transition: border-color .3s ease-in-out;
         -moz-transition: border-color .3s ease-in-out;
           -o-transition: border-color .3s ease-in-out;
              transition: border-color .3s ease-in-out;
      width: 100%; }
      #app .form_field_input:focus, #app .form_field_input:hover {
        border-color: #5A5077; }
      #app .form_field_input.ng-valid {
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20240.608%20240.608%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22M208.8%2029.97l31.8%2031.82L91.77%20210.63%200%20118.88l31.82-31.82L91.76%20147%20208.8%2029.97z%22%20fill%3D%22%2391DC5A%22%2F%3E%3C%2Fsvg%3E);
        background-position: right 1.5rem center;
        -webkit-background-size: auto 2.1rem;
           -moz-background-size: auto 2.1rem;
             -o-background-size: auto 2.1rem;
                background-size: auto 2.1rem;
        background-repeat: no-repeat; }
      #app .form_field_input::-webkit-input-placeholder {
        color: #bfbfbf; }
      #app .form_field_input:-moz-placeholder {
        color: #bfbfbf; }
      #app .form_field_input::-moz-placeholder {
        color: #bfbfbf; }
      #app .form_field_input:-ms-input-placeholder {
        color: #bfbfbf; }
      #app .form_field_input::placeholder {
        color: #bfbfbf; }
      #app .form_field_input:disabled {
        background-color: #e6e6e6;
        background-image: none; }
    #app .form_field:last-child {
      margin-bottom: 0; }
  #app .form_resend {
    cursor: pointer; }
  #app .form_buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #app .form_button {
    cursor: pointer;
    padding: .9rem 1.5rem;
    text-transform: uppercase;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    #app .form_button.__submit {
      background-color: #5ED184;
      -webkit-border-radius: 30px;
         -moz-border-radius: 30px;
              border-radius: 30px;
      color: white;
      padding-left: 2.4rem;
      padding-right: 2.4rem; }
      #app .form_button.__submit:focus, #app .form_button.__submit:hover {
        background-color: #32b05c; }
  #app .form_notification.__error {
    color: #E74C3C; }
